ass4/sha-collission/sha-collission.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ass4/sha-collission/sha-collission.xcodeproj/project.xcworkspace/xcuserdata/Telstra.xcuserdatad/UserInterfaceState.xcuserstate
ass4/sha-collission/sha-collission.xcodeproj/xcuserdata/Telstra.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ass4/sha-collission/sha-collission.xcodeproj/xcuserdata/Telstra.xcuserdatad/xcschemes/xcschememanagement.plist
